<article {{bind-attr class="isStaged:babble-post-staged :babble-post-container :boxed" id="postElementId" data-post-id="post.id" data-user-id="post.user_id" data-post-number="post.post_number"}}>
  <div class="row">
    <div class='babble-post-avatar babble-post-content'>
      <div class="contents">
        {{#if userDeleted}}
          <i class="fa fa-trash-o deleted-user-avatar"></i>
        {{else}}
          {{raw "post/poster-avatar" post=post classNames="main-avatar"}}
        {{/if}}
      </div>
    </div>

    <div class='babble-post-body babble-post-content'>
      <div {{bind-attr class="showUserReplyTab:avoid-tab view.repliesShown::contents :regular view.extraClass"}}>
        <div class='cooked'>
          <a href={{post.usernameUrl}} data-user-card={{post.username}}>{{post.username}}</a> - {{{post.cooked}}}
        </div>
        {{#if post.cooked_hidden}}
          <a href {{action "expandHidden" this}}>{{i18n 'post.show_hidden'}}</a>
        {{/if}}
      </div>
    </div>

    <div class='babble-post-meta-data babble-post-content'>
      <div class='post-info'>
        <a class='post-date' {{bind-attr href="shareUrl" data-share-url="shareUrl" data-post-number="post_number"}}>{{age-with-tooltip post.created_at}}</a>
      </div>
    </div>
  </div>
</article>

{{#if isLastRead}}
  <div class="babble-last-read-post-message">NEW MESSAGES</div>
  <hr class="babble-last-read-post-line"/>
{{/if}}
